:root {
    --green: #50fa7b;
    --gray: #282a36;
    --hovercolor: rgb(56, 30, 173);
    --textcolor: white;
    --rocketRoxo: #7159c1;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: var(--gray);
    color: var(--textcolor);
    font-family: 'Roboto', sans-serif;
}

header {
    padding: 32px;
    border-bottom: 1px solid #333;
    color: rgba(0, 0, 0, .1);
}

header div {
    text-align: center;
}

header div a {
    text-decoration: none;
    color: var(--textcolor);
    font-size: 18px;
    line-height: 28px;
    margin: 0 16px;
    padding-bottom: 3px;
}

header div a:hover {
    color: var(--hovercolor);
    transition: color 200ms;
}

#wrapper {
    text-align: center;
    padding: 32px;
}

#wrapper img {
    border-radius: 50%;
    border: 5px solid var(--green);
    margin-bottom: 32px;
}

#wrapper h1 {
    font-size: 42px;
    line-height: 52px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

#wrapper h4 {
    font-size: 18px;
    line-height: 28px;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}

#wrapper p {
    font-size: 14px;
    line-height: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}

#links-footer {
    text-decoration: none;
    color: var(--textcolor);
    font-size: 18px;
    line-height: 28px;
    margin: 0 16px;
    padding-bottom: 3px;
    text-align: center;
}

#links-footer p a {
    color: var(--hovercolor);
    transition: color 200ms;
}


/*=====VIDEOS======*/

.cards {
    max-width: 800px;
    margin: 0, auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.card {
    background-color: var(--rocketRoxo);
}

.card__img-container img {
    width: 100%;
}

.card__content,
.card__info {
    padding: 24px;
}

.card__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card__price {
    background-color: var(--rocketRoxo);
    filter: brightness(90%);
    padding: 5px, 20px;
    border-radius: 20px;
    text-align: center;
}

.modal__overlay {
    background-color: rgba(0, 0, 0, .7);
    width: 100%;
    height: 90%;
    position: fixed;
    top: 6vh;
}

.modal {
    background-color: #fff;
    width: 90%;
    height: 90%;
    margin: 5vh auto;
    position: relative;
}

.modal .close__modal {
    color: #000;
    position: absolute;
    right: 16px;
    top: 8px;
}